option_settings:
  aws:elasticbeanstalk:application:environment:
    API_ENDPOINT: 'www.example.com/api'
    SMTP_HOST: '{{resolve:ssm:/ArtConnect/Backend/Email/SmtpHost}}'
    SMTP_PORT: '{{resolve:ssm:/ArtConnect/Backend/Email/SmtpPort}}'
    SMTP_USER: '{{resolve:ssm:/ArtConnect/Backend/Email/SmtpUser}}'
    SMTP_PASS: '{{resolve:ssm:/ArtConnect/Backend/Email/SmtpPass}}'
    SMTP_FROM: '{{resolve:ssm:/ArtConnect/Backend/Email/SmtpFrom}}'
    YOUR_EMAIL_ADDRESS: '{{resolve:ssm:/ArtConnect/Backend/Email/YourEmailAddress}}'
    RECAPTCHA_SECRET_KEY: '{{resolve:ssm:/ArtConnect/ReCaptcha/SecretKey}}'
